@import "format.css";
@import "header.css";
@import "footer.css";

body {
    width: 100%;
    
    p {
        margin: 0;
        padding: 0;
    }
}

#content {
    position: relative;
    
    #img_bank {
        position: relative;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        
        img {
            padding: 20px;
            width: 30%;
        }
        
        #arena, #water {
            width: 20%;
        }
        
        #super {
            width: 35%;
        }
        
        #market {
            width: 20%;
        }
    }
}

//Smartphones
@media only screen and (max-width:1024px) {
    #content {
        position: relative;

        #img_bank {
            position: relative;
            width: 90%;
            margin: 0 auto;
            text-align: center;

            img {
                padding: 20px;
                width: 50%;
            }

            #arena, #water {
                width: 40%;
            }

            #super {
                width: 55%;
            }

            #market {
                width: 40%;
            }
        }
    }
}