@import "format.css";
@import "header.css";
@import "footer.css";

$back-g: #0E2687;
$border-form: 2px solid #222222;
$line_title: 2px solid #0E2687;

body {
    width: 100%;
    
    p {
        margin: 0;
        padding: 0;
    }
}

#content {
    position: relative;
    padding: 20px;
    
    form {
        position: relative;
        width: 50%;
        margin: 0 auto;
        background: #e3e3e3;
        border-radius: 10px;
        border: $border-form;
        
        #ins {
            padding: 10px;
            width: 90%;
            margin: 0 auto;
            
            input, textarea {
                width: 100%;
                color: black;
                padding: 5px;
                border-radius: 10px;
            }
            
            p {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                color: black;
                border-bottom: $line_title;
                width: 70%;
                margin: 0 auto;
                
                span {
                    color: $back-g;
                    margin-right: 10px;
                }
            }
        }
        
        #btn {
            position: relative;
            display: block;
            text-align: center;
            margin: 0 auto;

            input {
                position: relative;
                width: 120px;
                padding: 10px;
                font-size: 20px;
                background: $back-g;
                color: white;
            }
        }
    }
}

//Smartphones
@media only screen and (max-width:1024px) {
    #content {
        position: relative;
        padding: 10px;

        form {
            position: relative;
            width: 85%;
            margin: 0 auto;
            background: #e3e3e3;
            border-radius: 10px;
            border: $border-form;

            #ins {
                padding: 10px;
                width: 90%;
                margin: 0 auto;

                input, textarea {
                    width: 100%;
                    color: black;
                    padding: 5px;
                    border-radius: 10px;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    color: black;
                    border-bottom: $line_title;
                    width: 80%;
                    margin: 0 auto;

                    span {
                        color: $back-g;
                        margin-right: 10px;
                    }
                }
            }

            #btn {
                position: relative;
                display: block;
                text-align: center;
                margin: 0 auto;

                input {
                    position: relative;
                    width: 120px;
                    padding: 10px;
                    font-size: 20px;
                    background: $back-g;
                    color: white;
                }
            }
        }
    }
    
}