/*
@import "format.css";
@import "header.css";
@import "footer.css";
*/
body {
  width: 100%; }
  body p {
    margin: 0;
    padding: 0; }

#content {
  position: relative;
  padding: 20px; }
#content #warn {
    display: none;
    color: white;
    padding: 20px;
    background: #af1d1d;
    margin-bottom: 10px;
}
#content #warn h1 {
    font-weight: bold;
}
#content #warn p {
    font-size: 16px;
}
#content #warn a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#content #contact {
    display: none;
}
  #content form {
    position: relative;
    width: 50%;
    margin: 0 auto;
    background: #e3e3e3;
    border-radius: 10px;
    border: 2px solid #222222; }
    #content form #ins {
      padding: 10px;
      width: 90%;
      margin: 0 auto; }
      #content form #ins input, #content form #ins textarea {
        width: 100%;
        color: black;
        padding: 5px;
        border-radius: 10px; }
      #content form #ins p {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: black;
        width: 70%;
        margin: 0 auto; }
        #content form #ins p span {
          color: #0E2687;
          margin-right: 10px; }
    #content form #btn {
      position: relative;
      display: block;
      text-align: center;
      margin: 0 auto; }
      #content form #btn input {
        position: relative;
        width: 120px;
        padding: 10px;
        font-size: 20px;
        background: #0E2687;
        color: white; }

@media only screen and (max-width: 1024px) {
  #content {
    position: relative;
    padding: 10px;
    top: -70px;
    margin-bottom: 60px; }
    #content #warn h1 {
        text-align: center;
    }
    #content #warn p {
        color: white;
    }
    #content #contact {
        position: relative;
        display: block;
    }
    #content #contact #insc {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    #content #contact #insc #tlf,#addr {
        width: 100%;
        padding: 20px;
    }
    #content #contact #insc h3,p {
        color: black;
    }
    #content #contact #insc h3 {
        font-weight: bold;
    }
    #content #contact #insc a {
        text-decoration: none;
        color: black;
    }
    #content form {
      position: relative;
      width: 85%;
      margin: 0 auto;
      background: #e3e3e3;
      border-radius: 10px;
      border: 2px solid #222222; }
      #content form #ins {
        padding: 10px;
        width: 90%;
        margin: 0 auto; }
        #content form #ins input, #content form #ins textarea {
          width: 100%;
          color: black;
          padding: 5px;
          border-radius: 10px; }
        #content form #ins p {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          color: black;
          border-bottom: 2px solid #0E2687;
          width: 80%;
          margin: 0 auto; }
          #content form #ins p span {
            color: #0E2687;
            margin-right: 10px; }
      #content form #btn {
        position: relative;
        display: block;
        text-align: center;
        margin: 0 auto; }
        #content form #btn input {
          position: relative;
          width: 120px;
          padding: 10px;
          font-size: 20px;
          background: #0E2687;
          color: white; } }

/*# sourceMappingURL=contact.css.map */
