$back-f:#222222;

footer {
    position: relative;
    width: 100%;
    background: $back-f;
    margin-bottom: 0;
    
    p {
        margin: 0;
        padding: 0;
    }

    #insf {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        display: flex;

        .sec {
            position: relative;
            padding: 0 40px;
            width: 50%;

            #title {
                font-size: 14px;
                color: white;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }

            a {
                text-decoration: none;
                font-size: 14px;
                color: white;
            }
            
            ul {
                li {
                    list-style: none;
                }
            }
            
            #num {
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
        }
        
        .sec1 {
            ul {
                width: 80%;
                margin: 0 auto;
            }
        }
        
        .sec2 {
            border-right: 1px solid white;
            border-left: 1px solid white;
            
            ul {
                width: 80%;
                margin: 0 auto;
            }
        }
        
        .sec3 {
            width: 60%;
        }
    }
    
    #end {
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
    }
}

// Smartphones
@media only screen and (max-width:1024px) {
    footer {
        #insf {
            display: none;
        }
    }
}