@mixin centrado_menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, 50%);
}

@mixin centrado_btn_menu {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-150%, -50%);
}

$line_title: 3px solid #0E2687;
//
#menu_movil, #opc_movil {
    display: none;
}

header {
    width: 100%;
    position: relative;
    border-bottom: $line_title;
    
    #ins {
        position: relative;
        padding: 10px;
        display: flex;
        
        #logo {
            position: relative;
            width: 20%;
            margin-left: 55px;
            
            img {
                width: 40%;
            }
        }
        
        #menu {
            position: relative;
            width: 75%;
            @include centrado_menu;
            
            ul {
                position: relative;
                display: flex;
                
                li {
                    list-style: none;
                    padding: 0 20px;
                    
                    a {
                        text-decoration: none;
                        color: #222222;
                        font-size: 16px;
                        font-weight: bold;
                        transition: 0.2s;
                        padding: 10px;
                        
                        &:hover {
                            background: #222222;
                            color: white;
                            border-radius: 5px;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    }
}

//Smartphones
@media only screen and (max-width:1024px) {
    $border_box: 2px solid #222222;
    $border_btm: 1px solid #222222;
    
    #menu_desk {
        display: none;
    }
    
    #menu_movil {
        display: block;
        position: fixed;
        top: 0;
        z-index: 100;
        background: white;
        max-width: 1000px;
        
        #ins {
            //background: blue;
            #logo {
                position: relative;
                width: 50%;
                margin: 0 auto;
                text-align: center;
                //background: green;

                img {
                    width: 30%;
                    //max-width: 60%;
                }
            }
            
            #btn_movil {
                position: relative;
                @include centrado_btn_menu;
                //background: red;
                
                span {
                    
                    position: relative;
                    top: 30%;
                    padding: 5px;
                    margin: auto;
                    font-size: 30px;
                    border: $border_box;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
        
        #opc_movil {
            display: block;
            background: #ffffff;
            position: fixed;
            //top: 50px;
            left: -100%;
            z-index: 101;
            width: 40%;
            height: 100%;
            border-right: $line_title;

            ul {
                position: relative;
                height: auto;

                li {
                    list-style: none;
                    padding: 0 20px;
                    border-bottom: $border_btm;
                    padding: 10px 0;

                    a {
                        text-decoration: none;
                        color: #222222;
                        font-size: 20px;
                        transition: 0.2s;
                        padding: 10px;

                        &:hover {
                            background: none;
                            color: #0E2687;
                            border-radius: 5px;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    }
    
    #content {
        position: relative;
        margin-top: 30%;
    }
}