@import "format.css";
@import "header.css";
@import "footer.css";

$back-g: #0E2687;
$back-f:#222222;
$back-s:#0a1955;
$line_title: 3px solid #0E2687;
$line_title_w: 3px solid white;
$line: 2px solid white;

@mixin centrado_intro {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

@mixin centrado_serv {
    position: absolute;
    left: 60%;
    top: 30%;
    transform: translate(-50%, -50%);
}

@mixin margin_side {
    margin-right: auto;
    margin-left: auto;
}

body {
    width: 100%;
    margin: 0 auto;
    
    p {
        margin: 0;
        padding: 0;
    }
}

.intro {
    position: relative;
    @include centrado_intro;
    
    #ins {
        position: relative;
   
        
        #logo {
            position: relative;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            
            img {
                width: 100%;
            }
        }
        
        #btn {
            position: relative;
            display: block;
            text-align: center;
            @include margin_side;
            
            input {
                position: relative;
                width: 120px;
                padding: 10px;
                font-size: 20px;
                background: $back-g;
                color: white;
            }
        }
    }
}

.start {
    position: relative;

    #content {
        position: relative;
        
        .slide_ppal {
            width: 50%;
            margin: 5% auto;

            img {
                width: 100%;
            }
        }

        #ins2 {
            position: relative;
            display: flex;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            
            #mision_m {
                display: none;
            }

            #mision {
                position: relative;
                width: 50%;

                #title {
                    font-size: 25px;
                    color: black;
                    font-weight: bold;
                    padding: 2px 0;
                    border-bottom: $line_title;
                    width: 20%;
                    margin: 0 auto;
                    text-align: center;
                }

                #info {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 18px;
                    color: black;
                }
            }

            #vision_m {
                display: none;
            }
            
            #vision {
                position: relative;
                width: 50%;

                #title {
                    font-size: 25px;
                    color: black;
                    font-weight: bold;
                    padding: 2px 0;
                    border-bottom: $line_title;
                    width: 20%;
                    margin: 0 auto;
                    text-align: center;
                }

                #info {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 18px;
                    color: black;
                }
            }
        }

        #ins3 {
            position: relative;
            width: 100%;
            background: $back-g;
            padding: 20px;

            #title {
                font-size: 25px;
                color: white;
                font-weight: bold;
                padding: 2px 0;
                border-bottom: $line_title_w;
                width: 20%;
            }

            #services {
                position: relative;
                width: 90%;
                margin: 0 auto;
                text-align: center;

                .fil {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    display: flex;
                    //background: red;

                    .serv {
                        text-decoration: none;
                        padding: 20px;
                        text-align: center;
                        margin: 10px auto;
                        width: 100%;
                        //background: blue;
                        
                        a {
                            text-decoration: none;
                            
                            span {
                                font-size: 40px;
                                color: white;
                                padding: 25px;
                                border-radius: 255px;
                                text-align: center;
                                background: $back-s;
                                width: auto;
                                margin: 0 auto;
                                transition: 0.3s;
                                
                                &:hover {
                                    transition: 0.3s;
                                    background: white;
                                    color: $back-g;
                                }
                            }
                        }
                        
                        #info {
                            font-size: 18px;
                            color: white;
                            padding: 20px;
                            margin: 0 auto;
                            text-align: center;
                            //background: green;
                        }
                    }
                    
                    
                }
            }
        }

        #ins4 {
            position: relative;
            padding: 20px;

            #f_clients {
                padding: 0 60px;

                #title {
                    font-size: 25px;
                    color: black;
                    font-weight: bold;
                    padding: 2px 0;
                    border-bottom: $line_title;
                    width: 35%;

                }

                img {
                    width: 100%;
                    text-align: center;
                    padding: 40px 0;
                }
            }

            #btn {
                width: 10%;
                border-radius: 20px;
                background: $back-f;
                text-align: center;
                margin: 0 auto;
                padding: 10px;

                a {
                    position: relative;
                    text-decoration: none;
                    font-size: 18px;
                    color: white;
                    padding: 10px;
                }
            }
        }
    }
}

// Smartphones
@media only screen and (max-width:1024px) {
    body {
        width: 100%;
    }
    
    .intro {
        position: relative;
        @include centrado_intro;

        #ins {
            position: relative;
            
            #logo {
                position: relative;
                width: 70%;
                margin: 0 auto;
                text-align: center;

                img {
                    width: 100%;
                }
            }

            #btn {
                position: relative;
                display: block;
                text-align: center;
                @include margin_side;

                input {
                    position: relative;
                    width: 120px;
                    padding: 10px;
                    font-size: 20px;
                    background: $back-g;
                    color: white;
                }
            }
        }
    }
    
    .start {
        position: relative;
        
        #content {
            .slide_ppal {
                width: 70%;
                margin: 5% auto;

                img {
                    width: 100%;
                }
            }
            
            #ins2 {
                display: block;
                width: 80%;
                margin: 0 auto;
                padding: 20px;
                
                #mision {
                    display: none;
                }
                
                #mision_m {
                    display: block;
                    position: relative;
                    width: 100%;
                    margin: 50px auto;

                    #title {
                        font-size: 20px;
                        color: black;
                        font-weight: bold;
                        padding: 2px 0;
                        border-bottom: $line_title;
                        width: 30%;
                        margin: 0 auto;
                        text-align: center;
                    }

                    #info {
                        width: 100%;
                        margin: 0 auto;
                        font-size: 17px;
                        color: black;
                    }
                }
                
                #vision {
                    display: none;
                }
                
                #vision_m {
                    display: block;
                    position: relative;
                    width: 100%;
                    margin: 10px auto;

                    #title {
                        font-size: 20px;
                        color: black;
                        font-weight: bold;
                        padding: 2px 0;
                        border-bottom: $line_title;
                        width: 30%;
                        margin: 0 auto;
                        text-align: center;
                    }

                    #info {
                        width: 100%;
                        margin: 0 auto;
                        font-size: 17px;
                        color: black;
                    }
                }
            }
            
            #ins3 {
                padding: 10px;
                
                #title {
                    font-size: 18px;
                    color: white;
                    font-weight: bold;
                    padding: 2px 0;
                    border-bottom: $line_title_w;
                    width: 60%;
                    margin: 0 auto;
                    text-align: center;
                }
                
                #services {
                    text-align: center;
                    align-content: center;
                    
                    .fil {
                        display: block;
                        width: 100%;
                        //background: red;
                        
                        .serv {
                            text-decoration: none;
                            padding: 0px;
                            text-align: center;
                            width: 100%;
                            margin: 0 auto;
                            display: flex;
                            //background: blue;
                            
                            a {
                                span {
                                    font-size: 30px;
                                    padding: 20px;
                                    text-align: center;
                                    margin: 0 auto;
                                    width: auto;
                                } 
                            }
                            
                            #info {
                                font-size: 15px;
                                text-align: center;
                                width: 80%;
                                @include centrado_serv;
                                //background: green;
                            }
                        }
                    }
                }
            }
            
            #ins4 {
                #f_clients {
                    width: 100%;
                    padding: 0 10px;
                    
                    #title {
                        font-size: 18px;
                        color: black;
                        font-weight: bold;
                        padding: 2px 0;
                        border-bottom: $line_title;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;

                    }

                    img {
                        width: 100%;
                        text-align: center;
                        padding: 40px 0;
                    }
                }
                
                #btn {
                    width: 100px;
                    border-radius: 20px;
                    background: $back-f;
                    text-align: center;
                    margin: 0 auto;
                    padding: 10px;

                    a {
                        position: relative;
                        text-decoration: none;
                        font-size: 16px;
                        color: white;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
