@import "format.css";
@import "header.css";
@import "footer.css";

$back-g: #0E2687;

body {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.panel-group {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 13px;
    
    .panel {
        margin: 0;
        padding: 0;

        .panel-heading {
            background: $back-g;
            padding: 10px;
            margin: 0;

            .panel-title {
                font-size: 18px;
                color: white;
                margin: 0;

                a {
                    text-decoration: none;
                }
            }
        }

        .panel-collapse {
            margin: 0;
            padding: 0;

            .panel-body {
                width: 90%;
                margin: 0 auto;
                padding: 15px;
                color: black;
                font-size: 16px;
                
                #img {
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                    
                    img {
                        padding: 10px;
                    }
                    
                    #seguridad {
                        width: 30%;
                    }
                    
                    #car {
                        width: 50%;
                    }
                }
                
                strong {
                    font-size: 20px;
                }

                ul {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}

// Smartphones
@media only screen and (max-width:1024px) {
    .panel-group {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 13px;

        .panel {
            margin: 0;
            padding: 0;

            .panel-heading {
                background: $back-g;
                padding: 10px;
                margin: 0;

                .panel-title {
                    font-size: 18px;
                    color: white;
                    margin: 0;

                    a {
                        text-decoration: none;
                    }
                }
            }

            .panel-collapse {
                margin: 0;
                padding: 0;

                .panel-body {
                    width: 90%;
                    margin: 0 auto;
                    padding: 15px;
                    color: black;
                    font-size: 16px;

                    #img {
                        width: 90%;
                        margin: 0 auto;
                        text-align: center;

                        img {
                            width: 100%;
                            padding: 10px;
                        }
                        
                        #seguridad {
                            width: 100%;
                        }

                        #car {
                            width: 100%;
                        }
                    }

                    ul {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}